// layout {
//     // Make every tab use: tab-bar on top, status-bar on bottom
//     default_tab_template {
//         // TOP: tabs
//         pane size=1 borderless=true {
//             plugin location="zellij:tab-bar"
//         }

//         // MIDDLE: actual content
//         children

//         // BOTTOM: help / key hints
//         pane size=1 borderless=true {
//             plugin location="zellij:status-bar"
//         }
//     }

//     // First tab content (your main pane)
//     pane
// }


// layout {
//     // Make every tab use: tab-bar on top, status-bar on bottom
//     // default_tab_template {
//         // TOP: tabs
//         pane size=1 borderless=true {
//             plugin location="zellij:tab-bar"
//         }

//         // MIDDLE: actual content
//         pane

//         pane size=1 borderless=true {
//             plugin location="zellij:status-bar"
// }
layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane
    
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}

