{{- if and (not (eq .chezmoi.osRelease nil)) (eq (index .chezmoi.osRelease "id" | default "unknown") "debian") }}

skip_global_compinit=1

{{- end }}
. "$HOME/.cargo/env"
# add path for go
# export PATH=$PATH:/usr/local/go/bin
# export PATH=$PATH:$HOME/go/bin
# export PATH=$PATH:$HOME/.local/bin

# add path for chezmoi
export PATH=$PATH:$HOME/bin

# configure cargo
# . $HOME/.cargo/env 
