# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Zach Thieme
	email = zach@techsage.org
[pull]
	rebase = false
[credential "https://github.com"]
  {{- if eq .chezmoi.os "darwin"}}
	helper = !/opt/homebrew/bin/gh auth git-credential
  {{- end }}
  {{- if eq .chezmoi.os "linux"}}
	helper = !/usr/bin/gh auth git-credential
  {{- end }}
[credential "https://gist.github.com"]
  {{- if eq .chezmoi.os "darwin"}}
	helper = !/opt/homebrew/bin/gh auth git-credential 
  {{- end }}
  {{- if eq .chezmoi.os "linux"}}
	helper = !/usr/bin/gh auth git-credential
  {{- end }}
