default_layout "compact-top"
default_shell "fish"
pane_frames false
show_startup_tips false
simplified_ui true
theme "one-half-dark"

keybinds {
    shared {
        unbind "Alt Right"
        unbind "Alt F"
    }
    normal {
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt H" { GoToPreviousTab; }
        bind "Alt L" { GoToNextTab; }
    }
}

