default_layout "compact-top"
default_shell "fish"
pane_frames false
show_startup_tips false
theme "one-half-dark"

keybinds {
    shared {
        unbind "Alt Right"
        unbind "Alt F"
        // remove bindings just in case so they don't conflict with helix
        unbind "Alt Shift 0"
        unbind "Alt Shift 1"
        unbind "Alt Shift 9"
    }
    normal {
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt H" { GoToPreviousTab; }
        bind "Alt L" { GoToNextTab; }
    }
}

