#!/usr/bin/zsh

{{- if eq .chezmoi.osRelease.id "debian" | default "unknown" }}

alias cat='batcat'

{{- end }}

{{- if eq .chezmoi.os "darwin" }}

alias cat='bat'

{{- end }}

alias cm='chezmoi'
alias c='clear'
alias ch='cheat -l | awk "{print \$1}" | fzf --preview "cheat --colorize {1}" --preview-window=right,70%'
alias j='z'
alias mkdir='mkdir -p'
alias tmux='tmux -u -f ~/.config/tmux/tmux.conf'
alias t='tldr --list | fzf --preview "tldr {1} --color=always" --preview-window=right,70% | xargs tldr'
alias vi='nvim'
alias v='/usr/bin/vi'
alias ft='fzf-tmux --height 70% -- fzf --preview="cat --color=always {}" --preview-window=right:50% --border'

export SHELLOPTS
