export EDITOR=nvim
export VISUAL=nvim

HISTORY_SUBSTRING_SEARCH_ENSURE_UNIQUE=1

ZVM_VI_INSERT_ESCAPE_BINDKEY=jj

export PATH=$HOME/.cargo/bin:$HOME/.local/bin:$PATH
export PATH=/usr/local/go/bin:$PATH

{{- if eq .chezmoi.os "linux" }}
export PATH=/snap/bin:$PATH
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
export PATH=/opt/homebrew/bin:$PATH
export PATH=/opt/homebrew/sbin:$PATH
{{- end }}

eval "$(starship init zsh)" 
eval "$(zoxide init zsh)"
alias exa='exa --group-directories-first'
alias vi='nvim'
alias l='exa'
alias la='exa -la'
alias a='exa -a'
alias j='z'
alias cm='chezmoi'
alias cat='batcat'

alias nvim-lazy="NVIM_APPNAME=LazyVim nvim"
alias nvim-kick="NVIM_APPNAME=kickstart nvim"
alias nvim-chad="NVIM_APPNAME=NvChad nvim"
alias nvim-astro="NVIM_APPNAME=AstroNvim nvim"

function nvims() {
  items=("default" "kickstart" "LazyVim" "NvChad" "AstroNvim")
  config=$(printf "%s\n" "${items[@]}" | fzf --prompt=" Neovim Config  " --height=50% --layout=reverse --border --exit-0)
  if [[ -z $config ]]; then
    echo "Nothing selected"
    return 0
  elif [[ $config == "default" ]]; then
    config=""
  fi
  NVIM_APPNAME=$config nvim $@
}
