#!/bin/bash

######## GLOBAL 

# install starship
which starship
if [ $? -eq 1 ]; then
  curl -sS https://starship.rs/install.sh | sh
fi

# install cargo and rust
which cargo
if [ $? -eq 1 ]; then
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi

INSTALL=( bat exa fzf gh git jq mosh neovim pandoc pass ripgrep tmux vim wget zoxide zsh )

######## LINUX 
{{- if eq .chezmoi.os "linux" }}

# Add repo for neovim
apt-cache policy | grep neovims
if [ $? -eq 1 ]; then
  sudo add-apt-repository ppa:neovim-ppa/stable
fi

sudo apt update && sudo apt upgrade -y  

sudo apt install -y fd-find 
echo ${INSTALL[@]} | xargs sudo apt install -y 

# install rargs
which rargs
if [ $? -eq 1 ]; then
  cargo install --git https://github.com/lotabout/rargs.git
fi

# install zoxide
## which zoxide
## if [ $? -eq 1 ]; then
##   curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh
## fi

{{- end }}

######## MAC 
{{- if eq .chezmoi.os "darwin" }}

if ! command -v brew &> /dev/null
then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew update

# Install common packages
brew install fd rargs skhd yabai 
echo ${INSTALL[@]} | xargs brew install  

{{- end }}
